body{
    padding: 0px;
    margin: 0px;
   
}
a {
    text-decoration: none;
}
.container{
    max-width: 800px;
    margin: auto;
}
/* header */
header {
    background-image: url(imagens/fundo.png);
    height: 233px;
}
.topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu {
    margin-top: 20px;
}
.menu_header ul {
    display: flex;
    background: #b20030;
    list-style: none;
    padding: 0px;
}
.menu_header li {
    padding: 11px 12px;
}
.menu_header a {
    color: white;
}
.detalhe img {
    width: auto;
}
.menu_hamburger{
    display: none;
}
@media(max-width: 768px){
    .menu_hamburger{
        display: block;
    }
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    width: 100%;
}
img{
    max-width: 100%;
}

