body{
    padding: 0px;
    margin: 0px;
   
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
}

.container{
    max-width: 800px;
    margin: auto;
}
/* header */
header {
    background-image: url(imagens/fundo.png);
    height: 233px;
}
.topo {
    display: flex;
    justify-content: space-between;
}
.menu {
    margin-top: 20px;
}
#menu_header ul {
    display: flex;
    background: #b20030;
    list-style: none;
    padding: 0px;
}
#menu_header li {
    padding: 11px 12px;
}
#menu_header a {
    color: white;
}
.detalhe img {
    width: auto;
}
.menu_hamburger{
    display: none;
}
.menu_hamburger img {
    z-index: 999999;
    position: relative;
    left: 15px;
}
#menu_header li:hover {
    background: #de003e;
}
@media(max-width: 768px){
    .menu_hamburger{
        display: block;
       
    }
    #menu_header {
        display: none;
        width: 60%;
        position: absolute;
        background: #ececec;
        height: 100%;
        top: 0px;
    }
    #menu_header:after{
        position: fixed;
        top: 0px;
        width: 40%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        right: 0;
        content: "";
        z-index: 9;
    }
    #menu_header ul {
        display: block;
        background: #ececec;
        margin-top: 60px;
        margin-left: 20px;
    }
    #menu_header a {
        color: black;
    }
}

